body{
  background-color: beige;
}
h1{
    font-style: oblique;
    color: rgb(94, 88, 81);
    font-size: 60%;

}
.wrapper{
    margin: 0 auto;
    max-width: 960px;
}

main{
    padding: .5rem;
    background-color: rgb(118, 92, 57);
}

footer{
    clear: both;
    text-align: center;
}

header{
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-image: beige;
    padding: 20px;
    text-align:center;

    
}

header h1{
    font-size: 2rem;
    text-align: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

nav a{
    padding: 1rem 2rem;
    text-transform: uppercase;
    display: block;
    color: rgb(94, 88, 81);
    text-decoration: none;
}

nav a:hover{
    background-color: rgb(129, 101, 66);
    border-radius: 1rem;
}

.logo{
    width: 100px;
}

.intro{
    background-image:url(images/intro.jpg);
    background-size: 950px;
    background-position: center;
    padding: 4rem 0.5rem;
    background-repeat: no-repeat;
    text-align: center;
    color: beige;
    margin-bottom: 0.5rem;
}

.intro h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: beige;
}

.btn{
    background-color:#ad96798b;
    padding: .5rem .5rem;
    border-radius: 7px;
    color: rgb(87, 29, 29);
    text-decoration: none;
    font-weight: bold;
}

.two-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 0;
    font-size: 1.3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.two-columns img{
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 8px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
}
.btn-sec {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #ad96798b;
    color: #573b22;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}
.services {
    background-color: #fdf9f0;
    padding: 2rem;
    margin: 2rem 0;
    border: 1px solid #c7b08a;
}

.services h2 {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.service-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.service-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    border-radius: 6px;
}

.service-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.service-card h3 {
    margin-top: 0.75rem;
    font-size: 1rem;
}